@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #f4f4f5;
  color: #111;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

main {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
}

